@charset "UTF-8";
/* CSS Document */
html {
	font-family: Verdana; Open Sans;
	background-color: black;
}

h1 {
	font-size: 50px;
	color: white;
	text-align: center;
}

h2 {
	font-size: 42px;
	font-weight: 300;
	color: white;
	text-align: center;
}

p {
	font-size: 21px;
	color: gray;
	text-align: center;
}

p.copyright {
	text-align: right;
}

a {
	font-size: 16px;
	color: aquamarine;
}
